/* styles.css */

.post-form {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.post-form label {
    display: block;
    margin-bottom: 10px;
}

.post-form input[type="text"],
.post-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.post-form input[type="submit"] {
    background-color: #DB1A29;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.post-form input[type="submit"]:hover {
    background-color: #BF151F;
}


/* CSS for Post Container */
.post {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: hidden; /* Clear floats */
    display: flex; /* Use flexbox for layout */
    align-items: left; /* Center vertically */
}

.post-image {
    display: block;
    margin-left: 0; /* Adjust margin as needed */
    margin-right: auto;
}

/* CSS for Profile Image Wrapper */
.profile-image-wrapper {
    width: 100px; /* Adjust width as needed */
    margin-right: 10px; /* Spacing between profile image and profile name */
}

/* CSS for Profile Image */
.profile-image {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
}

/* CSS for Profile Name */
.profile-name {
    font-weight: bold;
    margin-bottom: 5px;
}

/* CSS for Post Title */
.post-title {
    margin: 0; /* Reset margin */
}
